<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove">
        </provider>

        <service
            android:name="org.secuso.pfacore.backup.PFABackupService"
            android:enabled="true"
            android:exported="true"
            android:process=":backup"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.secuso.privacyfriendlybackup.api.pfa.PFAAuthService" />
            </intent-filter>
        </service>
    </application>
</manifest>